/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-toolbar.mat-primary {
    background: #63B8FF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


.editor {
  
  min-height: 100% !important;
  position: fixed;
  width: 45% !important;

}

.sortable-handler {
  touch-action: none;
}

.icon-pad {
  margin-left: 70px;
}

.spacer-flex {
  flex: auto auto auto;
}

.container {
  position: relative;
}